* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    /* background-color: linear-gradient(); */
    background-image: linear-gradient(to right, #00B4D8, #00B4D8, #C7F6FF, #90E0EF);
    width: 100%;
    height: 200px;
    margin-top: 0px;
}

.logo img {
    width: 200px;
    height: 200px;
    margin-left: 1200px;
    margin-top: -145px;
}

nav h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 30px;
    padding-top: 20px;
    color: #00252D;
}

.line {
    height: 2px;
    width: 750px;
    background-color: black;
    margin-left: 30px;
    margin-top: 10px;
}

h4 ac {
    font-weight: bold;
    color: #003F4C;
}

h4 {
    margin-left: 54px;
    margin-top: -18px;
    font-weight: 300;
}

i {
    margin-left: 30px;
    margin-top: 10px;
}

.nav1 {
    background-color: #007c95;
    width: 100%;
    height: 60px;
}

h3 {
    margin-top: -50px;
    margin-left: 640px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav1 a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding-top: 20px;
    display: inline-block;
    margin-left: 170px;
}/* image 3 */
.con{
    height: 1000px;
    width: 100%;
    background-color:#C7F6FF;   
     background-image:url("image.png");
     background-repeat: no-repeat;
     background-size: 1590px 2000px; 
     display: inline-block;
    }

 .con h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    /* display: inline-block; */
 }   

 p{
    position: absolute;
     padding: 10px 10px 10px 10px;
     background-color: #02aed0;
    display: block;
    width: 130px;
    color: white;
    font-size: medium;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 250px;

}
.inp{
    height: 200px;
    width: 1100px;
    border: 2px solid #00B4D8 ;
    margin-left: 210px;
    margin-top: 100px;

}
 
 .inp label{
    display: inline-block;
    margin-top: 70px;
    /* margin-left: 100px; */
 }

.inp input{
    /* margin-top: 85px; */
    height: 40px;
    margin-left: 40px;
    width: 200px;
    border-radius: 10px;
    display:inline-block;
}
.ED{
    height: 300px;
    width: 1100px;
    border: 2px solid #00B4D8 ;
    margin-left: 210px; 
    margin-top: 100px;
}




.ED p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
    margin-left: 40px;
}

.drop{
    display: block;
    font-size: 20px;
    margin-left: 300px;
    margin-top: -70px;
}

select{
    display: block;
    margin-left: 300px;
    margin-top: -40px;
    height: 40px;
    border-radius: 10px;
    border: #00252D solid 2px;
    padding-left: 10px;
    font-size: medium;
}

.fy{
    display: flex;
}
.ename{
    /* display: flex; */
    margin-left: 50px;
    margin-top: 50px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

}

.ename input{
    margin-top: 10px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    
}

.drop{
    display: block;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 50px;
}

select{
    display: block;
    margin-left: 70px;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    border: #00252D solid 2px;
    padding-left: 10px;
    font-size: medium;
}

.loc label{
    display: block;
    margin-top: 50px;
    margin-left: 66px;
    font-family: Arial, Helvetica, sans-serif;

}

.loc input{
    margin-top: -8px;
    margin-left: 66px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.date label{
    display: block;
    margin-top: 50px;
    margin-left: 66px;
    font-family: Arial, Helvetica, sans-serif;

}

.date input{
    margin-top: -8px;
    margin-left: 66px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.sy{
    display: flex;
    margin-top: -50px;
    margin-left: -20px;
}

.elevel drop{
    display: block;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.elevel select{
    display: block;
    margin-left: 70px;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    border: #00252D solid 2px;
    padding-left: 10px;
    font-size: medium;
}

.cert label{
    display: block;
    margin-left: 70px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.cert input{
    margin-left: 70px;
    /* padding-top: -10px; */
    /* background-color: #8beaff; */
    
    margin-top: -10px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
}

.desc label{
    display: block;
    margin-left: -135px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.desc input{
    margin-left: -137px;
    margin-top: -10px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
}